.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main {
    display: flex;
    flex: 1;
  }
  
  .content {
    flex: 1;
    /* padding: 20px; */
    background-color: var(--background);
    padding-top: 70px;
  }
  